<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Button demo</title>
    <style>
        button {
            border: 2px solid yellow;
            color: white;
            background-color: black;
            font-size: 30px;
        }

        button:hover {
            border: 2px solid yellow;
            color: yellow;
            background-color: black;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <button onclick="onClick(this)" id="button1">Button 1</button>
    <button onclick="onClick(this)" id="button2">Button 2</button>
</body>

</html>