<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Shades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" href="https://s3.csh.rit.edu/csh-material-bootstrap/4.0.0-beta.3/dist/csh-material-bootstrap.min.css" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!--Following is needed because slim jquery does NOT support ajax.-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Smart Shades</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Welcome to Shade Control System!</h1>
    <p class="lead">Source can be found <a href="https://github.com/axg4975/smart-window-shades">here</a>!</p>
  </p>

<div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin:0 auto;">
  <center>
  <h2 class="card-header">How open would you like your shades to be?</h2>
  <div class="card-body">
    <button type="button" class="btn btn-secondary" id="0" name="0" value="/gpio/0" class="button">0 %</button>
    <button type="button" class="btn btn-secondary" id="25" name="25" value="/gpio/25" class="button">25 %</button>
    <button type="button" class="btn btn-secondary" id="50" name="50" value="/gpio/50" class="button">50 %</button>
    <button type="button" class="btn btn-secondary" id="75" name="75" value="/gpio/75" class="button">75 %</button>
    <button type="button" class="btn btn-secondary" id="100" name="100" value="/gpio/100" class="button">100 %</button>
  </div>
  </center>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin:0 auto;">
  <center>
  <h2 class="card-header">Current Shade Percentage</h2>
  <div class="card-body">
      <h3 id="perc"></h3>
  </div>
  </center>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin:0 auto;">
  <center>
  <h2 class="card-header">Is your shade currently all the way up or down?</h2>
  <div class="card-body">
    <button type="button" class="btn btn-secondary" id="up" name="up" value="/gpio/set/current/up" class="button">UP</button>
    <button type="button" class="btn btn-secondary" id="down" name="down" value="/gpio/set/current/down" class="button">DOWN</button>
  </div>
  </center>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin:0 auto;">
    <center>
    <h2 class="card-header">Motor Steps Count</h2>
    <p>From all the up, to all the way down. CAUTION: Setting it too high may break the motor!!</p>
    <div class="card-body">
        <input class="form-control" placeholder="200" id="input_count" name="input_count" type="number">
        <p></p>
        <button type="button" class="btn btn-secondary" id="steps" name="steps" value="/gpio/set/steps/<string:steps>/" class="button">SET</button>
    </div>
    </center>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 40rem; margin:0 auto;">
    <center>
    <h2 class="card-header">Move Motor by Steps</h2>
    <p>Positive number for forwards, negative number for backwards. CAUTION: Moving it too many steps may break the motor or the part!!</p>
    <p>NOTE: Refresh the page after using this to move the motor and you will need to set the defaults again! This is for debugging.</p>
    <div class="card-body">
        <input class="form-control" placeholder="10" id="input_steps" name="input_steps" type="number">
        <p></p>
        <button type="button" class="btn btn-secondary" id="move" name="move" value="/gpio/set/steps/<string:steps>/" class="button">MOVE</button>
    </div>
    </center>
</div>

<script src="/static/js/caller_csh.js"></script>

</div>
</body>
</html>